
<div class="row">
<div class="col-lg-6">
<table>
<tr>
<td colspan="2"><img src=<%="#{@user.image}"%>/></td>
</tr>
<tr>
<td>Welcome! &nbsp;</td>
<td><%= @user.name%></td>
<td>&nbsp;&nbsp;&nbsp; <%= link_to 'Signout', root_path %> </td>
</tr>
</table>
</div>
</div>