
<div class="row">
<div class="col-lg-6">
<table>

<tr>
<td>Welcome! &nbsp;</td>
<td><%= @userLoc.first_name%></td>
<td>&nbsp;&nbsp;&nbsp; <%= link_to 'Signout', :controller => "sessions", :action => "destroy" %> </td>
</tr>
</table>
</div>
</div>